.road {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: relative;
}

.square {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    position: static;
    /* position: absolute; */
    z-index: 101;
}

.pod {
    width: 45%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 55%;
    top: 26%;
    z-index: 201;
}

.podA {
    width: 45%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 0;
    top: 26%;
    z-index: 202;
}

.podB {
    width: 45%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 26%;
    top: 51%;
    z-index: 203;
    }

.podC {
    width: 45%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 26%;
    top: 0;
    z-index: 204;
    }