.road {
width: 100%;
height: auto;
margin: 0;
padding: 0;
position: relative;
}

.square {
width: 100%;
height: auto;
margin: 0;
padding: 0;
position: static;
/* position: absolute; */
z-index: 1;
}

.podB {
width: 45%;
height: auto;
position: static;
position: absolute;
/* position: relative; */
left: 26%;
top: 51%;
z-index: 2;
}