.page_body {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    position: relative;
  
  }

  .row {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: -4px 0 0 0;
    padding: 0;
  }

  .filler {
    width: auto;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .label1 {
    font-family: 'Audiowide', cursive;
    font-size: 6vw;
    position: absolute;
    left: 17%;
    top: 18%;
    z-index: 3;
    color: #45aac3;
  }

  .label2 {
    font-family: 'Audiowide', cursive;
    font-size: 6vw;
    position: absolute;
    left: 15%;
    top: 18%;
    z-index: 3;
    color: #45aac3;
  }

  .logo1 {
    width: 6%;
    height: auto;
    position: static;
    position: absolute;
    /* position: relative; */
    left: 31%;
    top: 4%;
    z-index: 4;
    }