.row {
position: relative;
width: 100%;
height: auto;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin: -4px 0 0 0;
padding: 0;
}

.label1 {
font-family: 'Audiowide', cursive;
font-size: 6vw;
position: absolute;
left: 18%;
top: 16%;
z-index: 900;
color: #45aac3;
}

.logo1 {
width: 6%;
height: auto;
/* position: static; */
position: absolute;
/* position: relative; */
left: 31%;
top: 4%;
z-index: 902;
}

.logo2 {
    width: 26%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 59.2%;
    top: 28%;
    z-index: 902;
    }

.logo3 {
    width: 7%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 78.2%;
    top: 126%;
    z-index: 902;
    }

.label2 {
font-family: 'Audiowide', cursive;
font-size: 6vw;
position: absolute;
left: 17%;
top: 16%;
z-index: 901;
color: #45aac3;
}

.label3 {
    font-family: 'Audiowide', cursive;
    font-size: 4vw;
    position: absolute;
    left: 59%;
    top: 24%;
    z-index: 901;
    color:#04867c
    }

.avatar {
    width: 17%;
    height: auto;
    /* position: static; */
    position: absolute;
    /* position: relative; */
    left: 58%;
    top: -8%;
    z-index: 902;
}